<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{title}}</h1>
        <a href="/products/create"><button type="button" class="btn btn-primary">
                <i class="fas fa-plus-circle fa-sm text-white-50"></i>
                Thêm sản phẩm
            </button></a>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <form method="get"
                class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                <div class="input-group">
                    <input name="q" type="text" class="form-control bg-light border-0 small"
                        placeholder="Nhập từ khóa để tìm kiếm ..." aria-label="Search"
                        aria-describedby="basic-addon2" />
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            {{#each header}}
                            <th>{{this}}</th>
                            {{/each}}
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            {{#each header}}
                            <th>{{this}}</th>
                            {{/each}}
                        </tr>
                    </tfoot>
                    <tbody>

                        {{#each data}}
                        <tr>

                            <td>
                                <a class="btn " href="/products/confirm/{{this._id}}"><i class="fas fa-trash-alt"></i></a>
                                <a class="btn " href="/products/edit/{{this._id}}"><i class="fas fa-edit"></i></i></a>

                                {{this.name}}
                            </td>
                            <td>{{this.category.type}}</td>
                            <td>{{this.manufacturer.name}}</td>
                            <td>{{this.originPrice}}</td>
                            <td>{{this.currentPrice}}</td>
                            <td>{{this.quantity}}</td>
                            <td>{{this.description}}</td>
                            <td>
                                {{#each this.images}}
                                <img src={{this}} />
                                {{/each}}
                            </td>
                        </tr>
                        {{/each}}

                    </tbody>
                </table>
                {{> pagination pagination=pagination}}

            </div>
        </div>
    </div>

</div>