<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{title}}</h1>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{{title}}</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table
                    class="table table-bordered table-hover"
                    id="dataTable"
                    width="100%"
                    cellspacing="0"
                >
                    <thead>
                        <tr>
                            {{#each header}}
                                <th>{{this}}</th>
                            {{/each}}
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            {{#each header}}
                                <th>{{this}}</th>
                            {{/each}}
                        </tr>
                    </tfoot>
                    <tbody>

                        {{#each data}}
                            <tr>
                                
                                <td>

                                    {{this.name}}
                                </td>
                                <td>{{this.category.type}}</td>
                                <td>{{this.manufacturer.name}}</td>
                                <td>{{this.originPrice}}</td>
                                <td>{{this.currentPrice}}</td>
                                <td>{{this.sold}}</td>

                                <td>{{this.description}}</td>
                                <td>
                                    {{#each this.images}}
                                        <img src={{this}} />
                                    {{/each}}
                                </td>
                            </tr>
                        {{/each}}

                    </tbody>
                </table>
                
                {{> pagination pagination=pagination}}

            </div>
        </div>
    </div>

</div>