<div class="bg-main">
    <div class="container">
        <div class="box">
            <div class="breadcumb">
                <a href="/">Trang chủ</a>
                <span><i class='bx bxs-chevrons-right'></i></span>
                <a href="/san-pham">Tất cả sản phẩm</a>
            </div>
        </div>
        <div class="box">
            <div class="row">
                <div class="col-3 filter-col" id="filter-col">
                    <div class="box filter-toggle-box">
                        <button class="btn-flat btn-hover" id="filter-close">close</button>
                    </div>
                    <div class="box">
                        <span class="filter-header">
                            Danh mục
                        </span>
                        <ul class="filter-list">

                            <li><a href="/category/tai-nghe">Tai nghe</a></li>
                            <li><a href="/category/may-nghe-nhac">Máy nghe nhạc</a></li>
                            <li><a href="/category/loa">Loa</a></li>
                            <li><a href="/category/microphone">Microphone</a></li>
                        </ul>
                    </div>
                    <div class="box">
                        <span class="filter-header">
                            Giá
                        </span>
                        <div class="price-range">
                            <input type="text">
                            <span>-</span>
                            <input type="text">
                        </div>
                    </div>
                    <div class="box">
                        <span class="filter-header">
                            Trạng thái
                        </span>
                        <ul class="filter-list">
                            <li>
                                <div class="group-checkbox">
                                    <input type="checkbox" name="status" id="status1">
                                    <label for="status1">
                                        Đang giảm giá
                                        <i class='bx bx-check'></i>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="group-checkbox">
                                    <input type="checkbox" name="status" id="status2">
                                    <label for="status2">
                                        Còn hàng
                                        <i class='bx bx-check'></i>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="group-checkbox">
                                    <input type="checkbox" name="status" id="status3">
                                    <label for="status3">
                                        Hết hàng
                                        <i class='bx bx-check'></i>
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="col-9 col-md-12">
                    <div class="box filter-toggle-box">
                        <button class="btn-flat btn-hover" id="filter-toggle">Lọc</button>
                    </div>
                    <div class="box">
                        <div class="row" id="products">
                            {{#each data}}
                            <div class="col-4 col-md-6 col-sm-12">
                                <div class="product-card">
                                    <div class="product-card-img">
                                        {{#each_upto this.images 2}}
                                            <img src={{this}} />
                                        {{/each_upto}}
                                    </div>
                                    <div class="product-card-info">
                                        <div class="product-btn">
                                            <a href="/san-pham/{{this._id}}" class="btn-flat btn-hover btn-shop-now">shop now</a>
                                            <button class="btn-flat btn-hover btn-cart-add">
                                                <i class='bx bxs-cart-add'></i>
                                            </button>
                                            <button class="btn-flat btn-hover btn-cart-add">
                                                <i class='bx bxs-heart'></i>
                                            </button>
                                        </div>
                                        <div class="product-card-name">
                                            {{this.name}}
                                        </div>
                                        <div class="product-card-price">
                                            <span><del>{{this.originPrice}}</del></span>
                                            <span class="curr-price">{{this.currentPrice}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    {{>pagination pagination=pagination}}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/products.js"></script>
<script src="/js/filter.js"></script>