<!--Cart Section-->
<section class="mt-5">
    <div class="container">
        <div class="cart">
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" class="text-white">Tên sản phẩm</th>
                            <th scope="col" class="text-white">Giá</th>
                            <th scope="col" class="text-white">Số lượng</th>
                            <th scope="col" class="text-white">Tổng tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each data.list}}
                        <tr>
                            <td>
                                <div class="main">
                                    <div class="d-flex">
                                        <!--W=145 H=98--> <img
                                            src={{this.img}} alt="">
                                    </div>
                                    <div class="des">
                                        <p>{{this.name}}</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h6>{{this.currentPrice}}</h6>
                            </td>
                            <td>
                                <!--
                                <div class="counter">
                                    <i class='bx bxs-down-arrow'></i>
                                    <input class="input-number" type="text" value="1" min="0" max="10">
                                    <i class='bx bxs-up-arrow'></i>
                                </div>
                                -->
                                <h6>{{this.quantity}}</h6>

                            </td>
                            <td>
                                <h6>{{this.totalPrice}}</h6>
                            </td>
                        </tr>
                        <!----->
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<div class="checkout">
    <ul>
        <!--
        <li class="subtotal">Thành tiền
            <span>{{data.cost}}</span>
        </li>
        -->
        <li class="cart-total">Tổng cộng
            <span>{{data.cost}}</span>
        </li>
    </ul>
    <a href="#" class="btn-flat btn-hover">Thanh toán</a>
</div>