<section class="mt-5">
    <div class="container">
        <div class="cart">
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" class="text-white">Ngày</th>
                            <th scope="col" class="text-white">Địa chỉ</th>
                            <th scope="col" class="text-white">Trạng thái</th>
                            <th scope="col" class="text-white">Giá</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each orders}}
                        <tr>
                            <td>
                                <div>{{formatDate this.createdAt}}</div>
                            </td>
                            <td>
                                
                                {{#if this.address.address}}
                                <div>{{this.address.address}} </div>
                                {{/if}}
                                {{#if this.address.email}}
                                <div>{{this.address.email}} </div>
                                {{/if}}
                                {{#if this.address.phone}}
                                <div>{{this.address.phone}} </div>
                                {{/if}}
                            </td>
                            <td>
                                <div>{{resolveStatus this.status}}</div>
                            </td>
                            <td>
                                <div>{{formatMoney this.totalCost}}</div>
                            </td>
                        </tr>
                        <!----->
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>